:root,
[data-bs-theme="light"] {
  --bs-primary: #b18b1c;
  --bs-secondary: #31b5b2;
  --bs-font-sans-serif: "Work Sans", sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-border-color: var(--bs-black);
  --bs-border-radius: 0;
  --bs-body-color: var(--bs-black);
  --bs-body-color-rgb: 0, 0, 0;
}

@mixin container-start-max-width($width) {
  max-width: calc(((100% - $width) / 2) + $width);
}

.container-start {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: 0;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-start,
  .container-start-sm {
    max-width: 540px;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .container-start {
    max-width: 720px;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .container-start {
    max-width: 960px;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .container-start {
    @include container-start-max-width(1140px);
    margin-right: 0;
  }
}

@media (min-width: 1400px) {
  .container-start {
    @include container-start-max-width(1320px);
    margin-right: 0;
  }
}

@media (min-width: 1920px) {
  .container-start {
    @include container-start-max-width(1760px);
    margin-right: 0;
  }
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1760px;
  }
}

.ml-n1 {
  margin-left: -0.25rem !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-next:before,
.slick-prev:before {
  color: var(--bs-black);
  font-family: bootstrap-icons !important;
}

.slick-prev:before {
  content: "\F284";
}

.slick-next:before {
  content: "\F285";
}

.slick-dots {
  @media (max-width: 991px) {
    position: static;
  }
  bottom: 20px;

  li {
    width: 32px;

    button {
      padding: 0;
      width: 100%;
      border-top: 4px solid var(--bs-gray-400);

      &:before {
        display: none;
      }
    }

    &.slick-active button {
      border-top-color: var(--bs-gray-700);
    }
  }
}

#header {
  .primary-text {
    color: var(--bs-secondary);
  }

  .navbar-brand {
    font-size: 0.75rem;
  }

  .nav-logo {
    width: 40px;
  }

  small {
    font-size: 90%;
  }

  button.btn.btn-outline-dark {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
  }

  @media (max-width: 991px) {
    button.btn.btn-outline-dark {
      border: none !important;
      font-size: 0.875rem;
      text-decoration: underline;
    }
  }
  @media (min-width: 992px) {
    .nav-logo {
      width: 60px;
    }
    .navbar-brand {
      font-size: 1rem;
    }
  }

  button.btn.btn-outline-dark:hover img {
    filter: invert(100%);
    transition: filter 0.15s ease-in-out;
  }
}

#navbar {
  .nav-item:not(:last-child) {
    border-bottom: 1px solid var(--bs-border-color);
  }

  #navbar-tabs {
    border-top: 1px solid var(--bs-border-color);
  }

  .nav-underline .nav-link.active,
  .nav-underline .show > .nav-link {
    border-bottom: none;
  }

  .navbar-toggler {
    .bi.bi-x {
      width: 30px;
      height: 30px;
      font-size: 2.5rem;
      align-items: center;
      justify-content: center;
    }

    &[aria-expanded="true"] {
      .navbar-toggler-icon {
        display: none;
      }

      .bi.bi-x {
        display: flex;
      }

      + .current-page-name {
        opacity: 0;
        visibility: hidden;
      }
    }

    &[aria-expanded="false"] {
      .navbar-toggler-icon {
        display: flex;
      }

      .bi.bi-x {
        display: none;
      }
    }
  }

  @media (min-width: 1200px) {
    .nav-item:not(:last-child) {
      border-bottom: none;
    }

    #navbar-tabs {
      border-top: 0;
    }
  }
}

#feature {
  background-color: #d5b093;
}

#hero {
  #hero-carousel {
    overflow: hidden;
  }

  @media (max-width: 991px) {
    .slick-dots {
      margin-top: 12px;
      text-align: left;
      margin-left: 12px;
      margin-bottom: 20px;
    }
    .image-slide {
      border-top: 1px solid var(--bs-border-color);
      padding-right: 24px !important;
      background-color: var(--bs-yellow);
      max-height: 400px;

      img {
        border-right: 1px solid var(--bs-border-color);
      }
    }
  }

  @media (min-width: 992px) {
    .image-slide {
      border-left: 1px solid var(--bs-border-color);
    }
    background: linear-gradient(
      to right,
      var(--bs-blue) 0%,
      var(--bs-blue) 50%,
      var(--bs-yellow) 50%,
      var(--bs-yellow) 100%
    );
    .slick-dots {
      position: absolute;
      bottom: 10px;
      left: 8px;
      text-align: left;
    }
    > .container-fluid {
      border-left: 1px solid var(--bs-border-color);
      border-right: 1px solid var(--bs-border-color);
    }
  }
}

#home-page {
  #hero {
    @media (max-width: 991px) {
      .image-slide {
        border-bottom: 1px solid var(--bs-border-color);
      }
    }
  }
}

#feature {
  @media (max-width: 991px) {
    h3,
    p {
      font-size: 95%;
    }
  }
}

#achievements {
  .nav-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .nav-link {
    border: 1px solid transparent;
    padding: 8px;
    width: auto;
  }

  .nav-link.active {
    border-color: var(--bs-black);
    background: var(--bs-primary);
  }

  #achievements-main-image[src=""] {
    display: none !important;
  }

  @media (min-width: 992px) {
    #achievements-main-image {
      height: 448px;
    }
  }
  @media (max-width: 991px) {
    #achievements-main-image {
      max-width: 400px;
      margin: auto;
    }
  }

  img {
    max-width: 100%;
  }
}

#activities {
  background-color: #668685;

  > .container-fluid {
    background-color: #3b767c;
  }

  .card-description {
    min-height: 480px;
    width: 100%;
  }

  .col-card {
    min-width: 340px;
  }
}

#circular {
  #circular-carousel {
    .slick-track {
      display: flex !important;
    }

    .slick-slide {
      height: inherit !important;
    }

    .slick-slide > div,
    .slick-slide > div > .card-description {
      height: 100%;
    }
    &.slick-dotted.slick-slider {
      margin-bottom: 80px;
    }

    .slick-dots {
      bottom: -70px;
    }

    .slick-prev {
      left: -50px;
    }

    .slick-next {
      right: -50px;
    }

    .card-description {
      background-color: #d5b093;
    }

    .card-time {
      border-bottom: 2px solid #c29165;
    }

    @media (max-width: 991px) {
      &.slick-dotted.slick-slider {
        margin-bottom: 12px;
      }
      .slick-dots {
        bottom: 0;
        margin-top: 16px;
        text-align: left;
      }

      .slick-prev,
      .slick-next {
        top: unset;
        bottom: -4px;
      }

      .slick-prev {
        left: unset;
        right: 40px;
      }
      .slick-next {
        right: 0;
      }
    }
  }
}

#collaborations {
  .nav.nav-pills .nav-link {
    color: var(--bs-black);
    white-space: nowrap;

    &.active {
      background-color: var(--bs-black);
      color: var(--bs-white);
    }
  }

  @media (min-width: 992px) {
    .image-block {
      border-left: 1px solid var(--bs-black);
    }
  }
  @media (max-width: 991px) {
    .image-block {
      height: 140px;
      border-bottom: 1px solid var(--bs-black);
    }
  }
}

#awards {
  @media (min-width: 992px) {
    background: linear-gradient(
      to right,
      var(--bs-orange) 0%,
      var(--bs-orange) 50%,
      #d5b093 50%,
      #d5b093 100%
    );
  }

  @media (max-width: 991px) {
    background: var(--bs-orange);
    > .container-fluid {
      border-right: 1px solid var(--bs-black);
    }
  }

  > .container-fluid {
    background-color: #d5b093;
    border-left: 1px solid var(--bs-black);
  }

  .card {
    max-width: 400px;
  }
}

#footer {
}

#about-page {
  #achievements {
    #accordion-skill {
      .accordion-button::after {
        content: "\F64D";
        font-family: bootstrap-icons !important;
        background: none;
        font-size: 1.5rem;
        font-weight: 500;
        width: auto;
        height: auto;
        margin-left: 12px;
      }

      .accordion-button:not(.collapsed)::after {
        content: "\F63B";
      }

      @media (max-width: 991px) {
        .accordion-button::after {
          margin-left: 0;
          margin-top: 12px;
          align-self: flex-end;
        }
      }
    }
  }
}
