:root,
[data-bs-theme=light] {
  --bs-primary: #b18b1c;
  --bs-secondary: #31b5b2;
  --bs-font-sans-serif: "Work Sans", sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-border-color: var(--bs-black);
  --bs-border-radius: 0;
  --bs-body-color: var(--bs-black);
  --bs-body-color-rgb: 0, 0, 0;
}

.container-start {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: 0;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-start,
  .container-start-sm {
    max-width: 540px;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .container-start {
    max-width: 720px;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .container-start {
    max-width: 960px;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .container-start {
    max-width: calc((100% - 1140px) / 2 + 1140px);
    margin-right: 0;
  }
}
@media (min-width: 1400px) {
  .container-start {
    max-width: calc((100% - 1320px) / 2 + 1320px);
    margin-right: 0;
  }
}
@media (min-width: 1920px) {
  .container-start {
    max-width: calc((100% - 1760px) / 2 + 1760px);
    margin-right: 0;
  }
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1760px;
  }
}
.ml-n1 {
  margin-left: -0.25rem !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-next:before,
.slick-prev:before {
  color: var(--bs-black);
  font-family: bootstrap-icons !important;
}

.slick-prev:before {
  content: "\f284";
}

.slick-next:before {
  content: "\f285";
}

.slick-dots {
  bottom: 20px;
}
@media (max-width: 991px) {
  .slick-dots {
    position: static;
  }
}
.slick-dots li {
  width: 32px;
}
.slick-dots li button {
  padding: 0;
  width: 100%;
  border-top: 4px solid var(--bs-gray-400);
}
.slick-dots li button:before {
  display: none;
}
.slick-dots li.slick-active button {
  border-top-color: var(--bs-gray-700);
}

#header .primary-text {
  color: var(--bs-secondary);
}
#header .navbar-brand {
  font-size: 0.75rem;
}
#header .nav-logo {
  width: 40px;
}
#header small {
  font-size: 90%;
}
#header button.btn.btn-outline-dark {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
@media (max-width: 991px) {
  #header button.btn.btn-outline-dark {
    border: none !important;
    font-size: 0.875rem;
    text-decoration: underline;
  }
}
@media (min-width: 992px) {
  #header .nav-logo {
    width: 60px;
  }
  #header .navbar-brand {
    font-size: 1rem;
  }
}
#header button.btn.btn-outline-dark:hover img {
  filter: invert(100%);
  transition: filter 0.15s ease-in-out;
}

#navbar .nav-item:not(:last-child) {
  border-bottom: 1px solid var(--bs-border-color);
}
#navbar #navbar-tabs {
  border-top: 1px solid var(--bs-border-color);
}
#navbar .nav-underline .nav-link.active,
#navbar .nav-underline .show > .nav-link {
  border-bottom: none;
}
#navbar .navbar-toggler .bi.bi-x {
  width: 30px;
  height: 30px;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
}
#navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  display: none;
}
#navbar .navbar-toggler[aria-expanded=true] .bi.bi-x {
  display: flex;
}
#navbar .navbar-toggler[aria-expanded=true] + .current-page-name {
  opacity: 0;
  visibility: hidden;
}
#navbar .navbar-toggler[aria-expanded=false] .navbar-toggler-icon {
  display: flex;
}
#navbar .navbar-toggler[aria-expanded=false] .bi.bi-x {
  display: none;
}
@media (min-width: 1200px) {
  #navbar .nav-item:not(:last-child) {
    border-bottom: none;
  }
  #navbar #navbar-tabs {
    border-top: 0;
  }
}

#feature {
  background-color: #d5b093;
}

#hero #hero-carousel {
  overflow: hidden;
}
@media (max-width: 991px) {
  #hero .slick-dots {
    margin-top: 12px;
    text-align: left;
    margin-left: 12px;
    margin-bottom: 20px;
  }
  #hero .image-slide {
    border-top: 1px solid var(--bs-border-color);
    padding-right: 24px !important;
    background-color: var(--bs-yellow);
    max-height: 400px;
  }
  #hero .image-slide img {
    border-right: 1px solid var(--bs-border-color);
  }
}
@media (min-width: 992px) {
  #hero {
    background: linear-gradient(to right, var(--bs-blue) 0%, var(--bs-blue) 50%, var(--bs-yellow) 50%, var(--bs-yellow) 100%);
  }
  #hero .image-slide {
    border-left: 1px solid var(--bs-border-color);
  }
  #hero .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 8px;
    text-align: left;
  }
  #hero > .container-fluid {
    border-left: 1px solid var(--bs-border-color);
    border-right: 1px solid var(--bs-border-color);
  }
}

@media (max-width: 991px) {
  #home-page #hero .image-slide {
    border-bottom: 1px solid var(--bs-border-color);
  }
}

@media (max-width: 991px) {
  #feature h3,
  #feature p {
    font-size: 95%;
  }
}

#achievements .nav-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#achievements .nav-link {
  border: 1px solid transparent;
  padding: 8px;
  width: auto;
}
#achievements .nav-link.active {
  border-color: var(--bs-black);
  background: var(--bs-primary);
}
#achievements #achievements-main-image[src=""] {
  display: none !important;
}
@media (min-width: 992px) {
  #achievements #achievements-main-image {
    height: 448px;
  }
}
@media (max-width: 991px) {
  #achievements #achievements-main-image {
    max-width: 400px;
    margin: auto;
  }
}
#achievements img {
  max-width: 100%;
}

#activities {
  background-color: #668685;
}
#activities > .container-fluid {
  background-color: #3b767c;
}
#activities .card-description {
  min-height: 480px;
  width: 100%;
}
#activities .col-card {
  min-width: 340px;
}

#circular #circular-carousel .slick-track {
  display: flex !important;
}
#circular #circular-carousel .slick-slide {
  height: inherit !important;
}
#circular #circular-carousel .slick-slide > div,
#circular #circular-carousel .slick-slide > div > .card-description {
  height: 100%;
}
#circular #circular-carousel.slick-dotted.slick-slider {
  margin-bottom: 80px;
}
#circular #circular-carousel .slick-dots {
  bottom: -70px;
}
#circular #circular-carousel .slick-prev {
  left: -50px;
}
#circular #circular-carousel .slick-next {
  right: -50px;
}
#circular #circular-carousel .card-description {
  background-color: #d5b093;
}
#circular #circular-carousel .card-time {
  border-bottom: 2px solid #c29165;
}
@media (max-width: 991px) {
  #circular #circular-carousel.slick-dotted.slick-slider {
    margin-bottom: 12px;
  }
  #circular #circular-carousel .slick-dots {
    bottom: 0;
    margin-top: 16px;
    text-align: left;
  }
  #circular #circular-carousel .slick-prev,
  #circular #circular-carousel .slick-next {
    top: unset;
    bottom: -4px;
  }
  #circular #circular-carousel .slick-prev {
    left: unset;
    right: 40px;
  }
  #circular #circular-carousel .slick-next {
    right: 0;
  }
}

#collaborations .nav.nav-pills .nav-link {
  color: var(--bs-black);
  white-space: nowrap;
}
#collaborations .nav.nav-pills .nav-link.active {
  background-color: var(--bs-black);
  color: var(--bs-white);
}
@media (min-width: 992px) {
  #collaborations .image-block {
    border-left: 1px solid var(--bs-black);
  }
}
@media (max-width: 991px) {
  #collaborations .image-block {
    height: 140px;
    border-bottom: 1px solid var(--bs-black);
  }
}

@media (min-width: 992px) {
  #awards {
    background: linear-gradient(to right, var(--bs-orange) 0%, var(--bs-orange) 50%, #d5b093 50%, #d5b093 100%);
  }
}
@media (max-width: 991px) {
  #awards {
    background: var(--bs-orange);
  }
  #awards > .container-fluid {
    border-right: 1px solid var(--bs-black);
  }
}
#awards > .container-fluid {
  background-color: #d5b093;
  border-left: 1px solid var(--bs-black);
}
#awards .card {
  max-width: 400px;
}

#about-page #achievements #accordion-skill .accordion-button::after {
  content: "\f64d";
  font-family: bootstrap-icons !important;
  background: none;
  font-size: 1.5rem;
  font-weight: 500;
  width: auto;
  height: auto;
  margin-left: 12px;
}
#about-page #achievements #accordion-skill .accordion-button:not(.collapsed)::after {
  content: "\f63b";
}
@media (max-width: 991px) {
  #about-page #achievements #accordion-skill .accordion-button::after {
    margin-left: 0;
    margin-top: 12px;
    align-self: flex-end;
  }
}

/*# sourceMappingURL=styles.css.map */
